<main role="main">
  <ul class="entries-list no-bullets no-padding">
    {{#each allUsersForAdmin}}
    <li class="entry-item pad-b-4">

      <a href="/admin/organisation/{{id}}" class="entry-title font-2 pad-b-1-4"> <label>Organization: </label>
        {{nameLombard}}</a>

      <div class="entry-title font-2 pad-b-1-4"> <label>Manager: </label>{{managerName}} </div>
      <div class="entry-title font-2 pad-b-1-4"> <label>E-mail: </label>{{email}} </div>
      <div class="entry-title font-2 pad-b-1-4"> <label>Telephone: </label>{{phone}} </div>

    </li>
    {{/each}}
  </ul>
</main>
