<div class="content show_content">

  <div class="show_info">
    <h1> <label></label> {{item.nameItems}}</h1>
    <p>{{item.describe}}</p>
    <p> <label>Price: </label> {{item.price}}</p>
  </div>

  <div class="show_img">
    <img class="imgSize" src='{{item.linkPhoto}}'>
  </div>

  <ul class="no-bullets no-padding mar-t-2 show_list">
    <li class="pipe-separate left show_button">
      <a href="/entries/{{ item._id }}/edit" class="c-white show_edit">Edit</a>
    </li>

    <li class="pipe-separate left show_button">
      <form method="post" action="/entries/{{item._id}}" class="inline">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="delete" class="no-border no-outline no-bg c-white hover-underline cursor">
      </form>
    </li>
  </ul>

</div>
